.btn-timer{
    height: 120px;
    border-radius: 70px;
    width: 120px;
    font-weight: bold;
}
.btn-book{
    border:none;
}
.timer-display{
    margin-top: 30px;
    span{
        margin: 5px;
    }
}
label{
    width: 100%;
}